    	body{
    		background: url(http://i.imgur.com/8xCZh8r.png);
    		
    	}
		header{
			margin-top:35px;
			color: #FFFFFF;
			border-top: solid 1px #F7F1E8;
			background: #8A7B65 url(http://cs.nccu.edu.tw/~jonesyu/960gs/code/images/img02.gif) repeat-x top left;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
		}
		header h1{
		  margin-top:40px;
	   	  text-shadow: 0px 2px 1px #3F372B;
		}
		#search {	
			margin-top:50px;
		}
    	article{
    		font-size: 18px;
    	}
    	header>strong{
    		position: relative;
			margin-left: 5em;
    		font-size: 30px;
            font-weight: bold;
            font-family: wcl-08 ;
            color:black;
    	}
		h3{
			position: relative; 
			color: rgb(22,1,235);
			border-bottom:1px solid;
			font: 1.4em/1.5 serif;
			font-family: 正黑體;
			font-weight: bolder;
		}
	    #sidebar {
			  float: right;
			  margin: 0 10%;
			  width: 90%;
		    }
	    
	    img#ability{
	    	position:absolute; 
			  width:80%;
			  height:80%;
			  border-radius: 10px;
			  /*background-color:rgba(115,194,197,0.3);*/
		    }
		img#proportion{
			position:absolute; 
			width:80%;
			height:80%;
			border-radius: 10px;
		}
		img#form{
			position: relative;
			width:20%;
		    padding:0.5em;
		    border-radius: 10px;
			left: 6em;
		    /*background-color:rgba(115,194,197,0.3);*/
		}
		
	    aside {
		      
		      top: 1px;

	    }
	    section{
	    	float: left;
	    }
	    #bottom{
	    	padding-bottom:40px;
	    }
	    ol{
	    	list-style-type: none;
	    	counter-reset: li-counter;
	    }
	    ol>li:nth-child(odd){
			background-color:rgba(255,255,255,0.5);
	    }
	    ol>li{
	    	position: relative;
		    margin-bottom: 5px;
		    padding: 0.5em;
		    border-left: 2px solid #CCCCCC;
		    font-family: 'Slabo 27px', serif;
		    font-size: 20px;
			font-weight: bold;
	    }
	    ol>li:before{
	    	position: absolute;
		    top: 0;
		    left: -1.05em;
		    width: 1em;
		 
		    font-size: 2.5em;
		    line-height: 1;
		    font-weight: bold;
		    text-align: right;
		    color: rgba(026,001,159,0.9);
		     
		    transform: rotate(-25deg);
		    -ms-transform: rotate(-25deg);
		    -webkit-transform: rotate(-25deg);
		    z-index: -99;
		    overflow: hidden;
		    content: counter(li-counter);
		    counter-increment: li-counter;
	    }
		article p:hover{
			background-color: rgba(50,198,145,0.4);
		}
		article li:hover{
			background-color: rgba(50,198,145,0.4);
		}
		article div{
			width: 500px;
			height: 100px;
		}
		article div:hover{
			background-color: rgba(50,198,145,0.4);
		}
		/* This code is tested with latest version of Firefox and Chrome */
.box {
  position: relative;
  top:1.3em;
  left: 1.05em;
  width: 400px;
  height: 300px;
  background-color: #fff;
  box-shadow: 0 1px 5px rgba(0,0,0,0.25), 0 0 50px rgba(0,0,0,0.1) inset;
  border-radius: 1%     1%     1%     1% /     1%     1%     1%     1%;
}
.box:before {
      position: absolute;
      width: 80%;
      height: 40%;
      left: 10%;
      border-radius: 50%;
      z-index: -1;
      top: 0%;
      content: "";
      box-shadow: 0 -7px 16px rgba(0,0,0,0.7);
      }
.box:after {
      position: absolute;
      width: 80%;
      height: 40%;
      left: 10%;
      border-radius: 50%;
      z-index: -1;
      bottom: 0%;
      content: "";
      box-shadow: 0 7px 16px rgba(0,0,0,0.7	);
      }
      #sidebar>ul{
      	list-style-type: none;
      }
      #sidebar ul:hover>li{
      	color:blue;
      }
