    	body{
    		background: url(http://i.imgur.com/8xCZh8r.png);
    		
    	}
		header{
			margin-top:35px;
			color: #FFFFFF;
			border-top: solid 1px #F7F1E8;
			background: #8A7B65 url(http://cs.nccu.edu.tw/~jonesyu/960gs/code/images/img02.gif) repeat-x top left;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
		}
		header h1{
		  margin-top:40px;
	   	  text-shadow: 0px 2px 1px #3F372B;
		}
		#search {	
			margin-top:50px;
		}
    	article{
    		font-size: 18px;
    	}
    	
		h3{
			border-bottom: 1px solid;
			color: rgb(22,1,235);
			font: 1.4em/1.5 serif;
			font-family: 正黑體;
			font-weight: bolder;
		}
	    
		img#form{
			position: relative;
			width:20%;
		    padding:0.5em;
		    border-radius: 10px;
			left: 6em;
		    /*background-color:rgba(115,194,197,0.3);*/
		}
		

	    #bottom{
	    	padding-bottom:40px;
	    }

	    ol>li:nth-child(odd){
			background-color:rgba(255,255,255,0.5);
	    }

		/*article li:hover{
			background-color: rgba(50,198,145,0.4);
		}*/

		article div:hover{
			background-color: rgba(243,223,203,0.3);
		}
		/* This code is tested with latest version of Firefox and Chrome */
.box {
  left: 1.05em;
  width: 400px;
  height: 300px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.25), 0 0 50px rgba(0,0,0,0.1) inset;
  border-radius: 1%     1%     1%     1% /     1%     1%     1%     1%;
}
